/*generales*/
.container{
    width: 65%;
    margin: 0 auto;
    float: right;
}
.principal{
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
.nav{
    float: left;
    background-color: blue;
    overflow: auto;
    position: relative;
    box-sizing: inherit;
    vertical-align: baseline;
}
.lista{
    width: 15%;
    display: inline-block;
    text-align: left;
    padding: 15px;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
}
.lista a:hover{
    background-color: red;
    font-weight: bold;
    font-style: italic;
    color: antiquewhite;
}
.seccion1{
    width: 100%;
    height: 80vh;
    background-image: url();
    background-size: cover;
    background-position: center;
    position: relative;
}
.vector{
    position: absolute;
    bottom: 0;
}
.titulo{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 12px;
    border-radius: 8px;
}
.columna{
    background-color: orangered;
    font-size: 20px;
    color: #fff;
}
.centro{
    float: left;
}
.izquierda{
    float: right;
    background-color: aquamarine;
}
.pie{
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    color: #fff;
    padding: 20px;
    list-style: 1.5;
    text-align: center;
    float:inherit;
    font-size: 20px;
    margin-top:50px;
    clear: both;
}
.as{
    background-color: #FFD809;
}
.articulo{
    background-color: rgb(255, 68, 0);
    float: left;
}
#apartado1{
    width:300px;
    height:100px;
    border:3px solid orange;
    border-radius:22px;
    background-color: gold;
    color: white;
}
.mapa{
    margin: 0 auto;
    float: right;
}