/*generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
.nav{
    background-color: orange;
}
.lista{
    width: 15%;
    display: inline-block;
    text-align: center;
    padding: 15px;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
}
.lista a:hover{
    font-weight: bold;
    font-style: italic;
    color: antiquewhite;
}
.seccion1{
    width: 100%;
    height: 80vh;
    background-image: url();
    background-size: cover;
    background-position: center;
    position: relative;
}
.vector{
    position: absolute;
    bottom: 0;
}
.titulo{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 12px;
    border-radius: 8px;
}
.cabeza{
    
}